@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */

a{ text-decoration:none;}
*{ margin:auto;
    padding:0px;font-family:华文楷体; 
	}
	#main{ border:1px solid #000;
	       width:1000px ;
		   height:3000px;}
	#head{ border:1px solid #000;
	       width:990px ; 
		   height:320px; 
		   background-image:url(img/00.png); 
		   background-repeat:no-repeat; 
		   background-size:1000px 240px;}
	#name{ 
	        width:310px; 
			height:100px;
			position:relative;
			top:50%;  float:left; margin-left:20px;  }
    #menu{  width:660px; height:80px;  margin-left:320px; float:left; margin-top:130px;}
	#left{ border:1px solid #000;
			width:220px; 
			height:2500px;
			float:left;
				
				}
	#right{border:1px solid red;
		   width:770px; 
		   height:1800px;
		   float:right;
		  /* -moz-border-radius:20px/40px;
		   -webkit-border-radius:20px/40px;
		   border-radius:20px/40px;*/
		   }
		   
    #left1{ background-color:#FFF;
		   width:220px;
		   height:600px; }
	#left2{border:1px solid #FFF;
		   width:220px;
		   height:270px;margin-top:20px;}
	#left3{border:1px solid #FFF;
		   width:220px;
		   height:280px;margin-top:20px;}
			  #left4{border:1px solid #FFF;
		     width:220px;
			 height:200px;margin-top:20px;}
			  #left5{border:1px solid #FFF;
		     width:220px;
			 height:200px;margin-top:20px;}
			  #left6{border:1px solid #FFF;
		             width:220px;
			         height:200px; margin-top:20px;
					 }
			
			 
	.left-head{ border:2px solid #C90;
	             background-color:#FFF;
	            -moz-border-radius-bottomright:80px;
				-webkit-border-bottom-right-radius:80px;
				border-bottom-right-radius:80px;
				
	            height:25px; width:215px;
				
				line-height:25px;
				}		 
			 #right-head{ height:30px; width:770px;
				background-color:#C90; line-height:35px;
				 -moz-border-radius-bottomright:80px;
				-webkit-border-bottom-right-radius:80px;
				border-bottom-right-radius:80px; }
			 
			 
#t td{ font-family:华文楷体;}			 
			 
			 
			 
	ul li{ float:left; width:110px; height:40px;}
ul{ list-style-type:none; padding-left:0; margin-left:0; width:580px; height:50px; }

ul li a{ 
				 padding:3px 5px; 
				 background-color:#960; 
				 text-decoration:none; 
				 color:#000; 
 			display:block; 
          height:35px; font-family:华文楷体; font-size:20px; 
          text-align:center; line-height:40px;
		  -moz-border-radius:10px/10px;
		  -webkit-border-radius:10px/10px;
		   border-radius:10px/10px; 
		   margin-top:10px;}
ul li a:hover{ background-color:#d0c598;
				-moz-border-radius:10px/10px;
		       -webkit-border-radius:10px/10px;
		        border-radius:10px/10px; 
				margin-top:10px;}
		 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 

